@media only screen and (max-width: 1024px){
    .navbar {
        margin: 0px -40px;
    }
    .slider .slider-detail h1 {
        font-weight: 800;
        font-size: 45px;
    }
    .my-skill {
        padding: 100px 4%;
    }
    .services {
        padding: 0px 4%;
    }
    .all-pricing-pkg {
        padding: 1px 4% 100px 4%;
    }
    footer .footer-top .footer-social-icon {
        padding: 15px;
    }
    footer .footer-bottom {
        padding: 30px 5%;
    }
}
@media only screen and (max-width: 960px){
    .slider .slider-image {
        height: 125vh;
    }
    .cantainer {
        margin: auto;
        width: 95%;
    }
    .navbar {
        margin: unset;
    }
    .navbar .nav-logo h4 {
        font-size: 25px;
        margin: 0px;
    }
    .navbar .nav-menu ul li a {
        font-size: 14px;
        padding: 15px 20px;
    }
    .latest-work{
        display: grid;
        grid-template-columns: 100%;
        column-gap: 0%;
        margin-bottom: 100px;
    }
    .latest-work .work-grid {
        margin-bottom: 30px;
    }
    .latest-work .work-grid .work-image{
        width: 320px;
        height: 340px;
    }
    .my-skill {
        padding: 100px 9%;
        grid-template-columns: 100%;
    }
    .services {
        padding: 0px 9%;
    }
    .services .service-box {
        margin-bottom: 30px;
    }
    .services .service-box .icon {
        margin-right: 10px;
    }
    .services .service-box .icon i {
        padding-top: 5px;
    }
    .services .service-box .service-detail h4 {
        font-size: 22px;
    }
    .services .service-box .service-detail p {
        font-size: 15px;
    }
}
@media only screen and (max-width: 760px){
    .cantainer {
        width: 100%;
        position: fixed;
        background-color: white;
        z-index: 5;
    }
    .navbar {
        border-bottom: 1px solid #dedede;
    }
    .navbar .nav-logo {
        margin: 5px 0px;
    }
    .navbar .nav-menu{
        display: none;
    }
    .nav-icon{
        display: inline-block;
    }
    .small-device-nav-bar{
        position: fixed;
        background-color: white;
        z-index: 4;
        display: inline-block;
        width: 100%;
        margin: -203px 0px 0px 0px;
        transition: 0.5s ease;
    }
    .small-device-nav-bar.active{
        margin: 57px 0px 0px 0px;
    }
    .small-device-nav-bar li a{
        display: block;
        padding: 15px 10px;
        margin: 0px 15px;
        color: #00000069;
        font-weight: 600;
        font-size: 14px;
        text-transform: uppercase;
        border-bottom: 1px solid #00000021;
    }
    .nav-icon i{
        font-size: 24px;
        color: #4e4d4dc7;
    }
    .slider .slider-image {
        margin-top: -50px;
        height: 120vh;
    }
    .slider .slider-detail h1 {
        font-size: 8vw;
        margin: 0px -70px;
    }
    .my-skill {
        padding: 100px 2%;
    }
    .my-skill .skill-description {
        margin-bottom: 50px;
    }
    .my-skill .skill-progress .progress-or-label .progress {
        height: 1.2rem;
    }
    .services {
        padding: 0px 5%;
        grid-template-columns: 100%;
    }
    .services .service-box {
        margin-bottom: 50px;
    }
    .services .service-box .icon {
        margin-right: 40px;
    }
    .services .service-box .icon i {
        font-size: 2rem;
        font-weight: 600;
    }
    .services .service-box .service-detail {
        padding-right: 60px;
    }
    .all-pricing-pkg {
        padding: 1px 4% 50px 4%;
    }
    .pricing {
        grid-template-columns: 100%;
        width: 60%;
        margin: auto;
    }
    .all-pricing-pkg .pricing .pricing-pkg {
        margin: 0px 0px 40px 0px;
    }
    .contact {
        padding: 40px 0px;
    }
    .contact h4 span a {
        padding: 15px 25px;
        display: block;
        width: 95%;
        margin: 25px auto 0px auto;
    }
    footer .footer-top {
        padding: 25px 0px;
    }
    footer .footer-top .footer-social-icon {
        padding: 5px;
        border: 2px solid #405A74;
        margin: 0px 0px;
    }
    footer .footer-top .footer-social-icon i {
        font-size: 30px;
        width: 40px;
        height: 40px;
        padding: 5px 0px 0px 0px;
    }
    footer .footer-bottom .footer-copy-right {
        float: unset;
        text-align: center;
        margin-bottom: 5px;
    }
    footer .footer-bottom .footer-menu {
        float: unset;
        width: fit-content;
        margin: auto;
    }
    footer .footer-bottom .footer-menu ul li a {
        font-size: 15px;
    }
    .scroll {
        display: none;
    }
}
@media only screen and (max-width: 600px){
    .bootstrap-slider-control{
        display: none;
    }
    .heading {
        margin: 90px 0px 90px 0px;
    }
    .services .service-box .service-detail {
        padding-right: unset;
    }
    .pricing {
        width: 70%;
    }
}
@media only screen and (max-width: 400px){
    .heading {
        margin: 90px 0px 90px 0px;
    }
    .my-skill .skill-description {
        margin-bottom: 30px;
        text-align: center;
    }
    .my-skill .skill-description p {
        padding-right: unset;
    }
    .services .service-box {
        display: grid;
        text-align: center;
        margin-bottom: 30px;
    }
    .services .service-box .icon {
        margin: 0px 0px 10px 0px;
    }
    .pricing {
        width: 80%;
    }
}