*{
    margin: 0px;
    padding: 0px;
}
html {
    scroll-behavior: smooth;
}
body{
    margin: 0px;
    font-family: sans-serif;
}
:root{
    --color-1: rgb(27, 188, 155);
    --color-2: rgb(240, 96, 96);
    --color-3: rgb(40, 165, 168);
    --color-4: #34495E;
    --color-5: #1f2c37;
    --color-6: #777;
    --color-7: #444444;
    --color-8: #405a74;
    --color-9: #333333;
    --color-10: #377989;
    --color-11: #22313F;
    --color-12: #000;
    --color-13: #343a40;
}
#color-option-hide-or-show{
    margin: 0px 0px 0px -150px;
}
#color-option-hide-or-show.active{
    margin: 0px 0px 0px 0px;
}
.color-option{
    position: fixed;
    z-index: 3;
    left: 0;
    top: 200px;
    padding: 25px 5px;
    display: flex;
    background-color: white;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: 0.5s ease;
}
.color-option-hide{
    margin: 0px 0px 0px 0px;
}
.color-option .option-button{
    position: absolute;
    right: -40px;
    top: 23px;
    background-color: #162029;
    padding: 5px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.color-option .option-button a{
    display: block;
    cursor: pointer;
}
.color-option .option-button a i{
    color: white;
    font-size: 30px;
    margin-top: 3px;
    animation: spin 4s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
.color-option .color-box{
    width: 40px;
    height: 40px;
    margin: 0px 3px;
    cursor: pointer;
    border-radius: 3px;
}
.color-option .color-1{
    background-color: rgb(27, 188, 155);
}
.color-option .color-2{
    background-color: rgb(240, 96, 96);
}
.color-option .color-3{
    background-color: rgb(40, 165, 168);
}
.scroll{
    cursor: pointer;
    transition: 0.5s ease;
    position: fixed;
    z-index: 5;
    bottom: 10px;
    right: 15px;
    padding: 10px 15px;
    opacity: 0.6;
    background-color: black;
    border-radius: 3px;
}
.scroll:hover{
    background-color: black;
    opacity: unset;

}
.scroll i{
    color: white;
}
.cantainer{
    margin: auto;
    width: 90%;
}
.navbar{
    overflow: hidden;
}
.navbar .nav-logo{
    float: left;
    margin: 16px 0px;
}
.navbar .nav-logo h4{
    font-family: 'Playball', cursive;
    color: #777;
    font-size: 28px;
    font-weight: 100;
    text-transform: capitalize;
}
.nav-icon{
    display: none;
}
.small-device-nav-bar{
    display: none;
}
.navbar .nav-menu{
    float: right;
}
.navbar .nav-menu ul{
    display: flex;
    list-style-type: none;
    margin: 0px;
}
.navbar .nav-menu ul li{

}
.navbar .nav-menu ul li a{
    color: #777;
    text-decoration: none;
    display: block;
    text-transform: uppercase;
    font-size: 16px;
    padding: 25px 15px;
}
.navbar .nav-menu ul li a .highlighted{
    background-color: var(--color-2);
    color: white;
    padding: 7px 10px;
    border-radius: 3px;
}
.navbar .nav-menu ul li a:hover{

}
.slider{
    overflow: hidden;
    background-color:rgb(7 10 13 / 80%);
}
.slider .slider-image{
    margin-top: -150px;
    opacity: 0.2;
    width: 100%;
    height: 125vh;
    object-fit: cover;
    background-attachment: fixed;
}
.slider .slider-detail{
    display: inline!important;
    text-transform: uppercase;
    position: absolute;
    top: 35vh;
}
.slider .slider-detail h1{
    font-weight: 800;
    font-size: 60px;
}
.slider .slider-detail h1 span{
    display: block;
    text-align: center;
    font-weight: 500;
    font-size: 13px;
    margin-top: 10px;
    letter-spacing: 2px;
}
.slider .slider-detail a{
    font-weight: 500;
    font-size: 14px;
    display: inline-block;
    margin-top: 25px;
    padding: 5px 25px;
    border: 1px solid #ffffff69;
    color: white;
    text-decoration: none;
}
.slider .slider-detail a:hover{
    border: 1px solid white;
}
.down-arrow{
    position: absolute;
    width: 100%;
    text-align: center;
    margin-top: -28px;
    font-size: 70px;

}
.heading{
    color: #777777;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 30px;
    text-align: center;
    margin: 130px 0px 90px 0px;
}
.heading span{
    display: block;
    width: 4%;
    border-bottom: 4px solid #77777726;
    margin: 10px auto;
}
.latest-work{
    display: grid;
    grid-template-columns: 32% 32% 32%;
    column-gap: 2%;
    margin-bottom: 150px;
    padding: 0px 5%;
}
.latest-work .work-grid{

}
.latest-work .work-grid .work-image{
    width: inherit;
    margin: auto;
    border-radius: 10px;
    background-color: var(--color-2);
    position: relative;
    overflow: hidden;
}
.latest-work .work-grid .work-image img{
    width: 100%;
    border-radius: 10px;
    transition: 0.2s ease;
    cursor: pointer;
}
.latest-work .work-grid .work-image:hover img{
    opacity: 0.1;
}
.latest-work .work-grid .work-image:hover p{
    bottom: 35%;
}
.latest-work .work-grid .work-image p{
    font-size: 20px;
    text-transform: uppercase;
    position: absolute;
    bottom: -20%;
    width: 100%;
    text-align: center;
    color: white;
    transition: 0.2s ease;
    cursor: pointer;
}
.my-skill{
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: #F2F2F2;
    padding: 150px 9%;
}
.my-skill .skill-description{

}
.my-skill .skill-description h4{
    font-size: 30px;
    color: #777;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.my-skill .skill-description p{
    padding-right: 40px;
    color: #777;
    font-size: 18px;
    line-height: 32px;
    margin-top: 14px;
}
.my-skill .skill-progress{

}
.my-skill .skill-progress .progress-or-label{
    margin-bottom: 10px;
}
.my-skill .skill-progress .progress-or-label label{
    color: #777;
    font-size: 18px;
    text-transform: capitalize;
}
.my-skill .skill-progress .progress-or-label .progress{
    height: 1.5rem;
}
.my-skill .skill-progress .progress-or-label .progress-bar{
    background-color: var(--color-13);
}
.services{
    padding: 0px 9%;
    display: grid;
    grid-template-columns: 50% 50%;
    margin-bottom: 50px;
}
.services .service-box{
    display: flex;
    margin-bottom: 25px;
}
.services .service-box .icon{
    margin-right: 40px;
}
.services .service-box .icon i{
    text-align: center;
    padding-top: 18px;
    color: var(--color-2);
    font-size: 3em;
    width: 60px;
}
.services .service-box .service-detail{
    padding-right: 10px;
}
.services .service-box .service-detail h4{
    font-size: 24px;
    color: #000000c9;
    text-transform: capitalize;
}
.services .service-box .service-detail p{
    color: #000000a1;
}
.all-pricing-pkg{
    padding: 1px 9% 100px 9%;
    background-color: #f2f2f2;
}
.pricing{
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    text-align: center;
}
.all-pricing-pkg .pricing .pricing-pkg{
    margin: 0px 20px;
    background-color: white;
    border-radius: 5px;
}
.all-pricing-pkg .pricing .pricing-pkg .pkg-name{

}
.all-pricing-pkg .pricing .pricing-pkg .pkg-name h3{
    color: white;
    background-color: var(--color-7);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 20px 0px;
    text-transform: capitalize;
    font-size: 21px;
    font-weight: 700;
    letter-spacing: 1.1px;
}
.all-pricing-pkg .pricing .pricing-pkg .pkg-price{

}
.all-pricing-pkg .pricing .pricing-pkg .pkg-price h2{
    width: 140px;
    height: 140px;
    background-color: var(--color-7);
    color: white;
    border-radius: 75px;
    margin: 20px auto;
    padding: 50px 0px;
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 35px;
}
.all-pricing-pkg .pricing .pricing-pkg .pkg-support{

}
.all-pricing-pkg .pricing .pricing-pkg .pkg-support p{
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    padding: 10px 0;
}
.all-pricing-pkg .pricing .pricing-pkg .pkg-support hr{
    border: solid 1px #EDF0F2;
    margin: 3px auto;
    width: 60%;
}
.all-pricing-pkg .pricing .pricing-pkg .pkg-order{

}
.all-pricing-pkg .pricing .pricing-pkg .pkg-order a{
    display: block;
    margin: 20px auto 0;
    font-weight: 600;
    width: 70%;
    font-size: 20px;
    padding: 15px 0;
    border-radius: 0;
    text-transform: uppercase;
    color: #757c81;
    text-decoration: none;
    transition: 0.5s ease;
}
.all-pricing-pkg .pricing .pricing-pkg .pkg-order a:hover{
    color: #f06060;
}
.contact{
    padding: 50px 0px;
    background-color: var(--color-2);
}
.contact h4{
    color: white;
    text-align: center;
    font-size: 24px;
    font-weight: 100;
    margin: 0px;
}
.contact h4 span{
    margin-left: 50px;
}
.contact h4 span a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 100;
    border: 2px solid white;
    padding: 10px 25px;
    border-radius: 3px;
    font-size: 18px;
    letter-spacing: 1px;
}
.horizontal{
    width: 100%;
    height: 20px;
    background-color: var(--color-9);
}
footer{

}
footer .footer-top{
    text-align: center;
    background-color: var(--color-12);
    padding: 50px 0px;
}
footer .footer-top .footer-social-icon{
    display: inline-block;
    border: 3px solid #405A74;
    border-radius: 50px;
    padding: 17px;
    margin: 0px 10px;
}
footer .footer-top .footer-social-icon i{
    font-size: 45px;
    color: #405A74;
    width: 45px;
    height: 45px;
}
footer .footer-bottom{
    background-color: #162029;
    padding: 30px 9%;
    overflow: hidden;
}
footer .footer-bottom .footer-copy-right{
    float: left;
}
footer .footer-bottom .footer-copy-right p{
    color: #5683af;
    margin: 0px;
}
footer .footer-bottom .footer-menu{
    float: right;
}
footer .footer-bottom .footer-menu ul{
    display: flex;
    margin: 0px;
}
footer .footer-bottom .footer-menu li{
    padding: 0px 10px;
    list-style-type: none;
    border-right: 1px solid #5683af;
}
footer .footer-bottom .footer-menu ul li:last-child{
    border: unset;
}
footer .footer-bottom .footer-menu ul li a{
    color: #5683af;
    letter-spacing: 1px;
    text-decoration: none;
}